xsd/pacs.002.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- STEP2 SDD Schema, pacs.002.001.03, Mar 17th 2014, Release November 2014 -->
<!-- STEP2 Add NURG to Service Level Code, March 17th 2014 -->
<!-- STEP2 CNOR and DNOR reason code added, July 15th 2013-->
<!-- STEP2 Spaces allowed in Original Creditor Identifier field, May 25th 2012 -->
<!-- STEP2 AC13 and FF05 reason code added, March 23th 2012-->
<!-- STEP2 Spaces allowed in Creditor Identifier field, March 23th 2012 -->
<!-- STEP2 ISODate with pattern restriction YYYY-MM-DD, January 26th 2010 -->
<!-- STEP2 ISODateTime with pattern restriction YYYY-MM-DDThh:mm:dd..., January 26th 2010 -->
<!-- STEP2 String with whiteSpace collapse and pattern restriction "\S+.*", January 26th 2010 -->
<!-- STEP2 Modified the Mandate Original Debtor Agent Identifier for ISO compatibility, March 04th 2010  -->
<!-- BE04 reason code added on 25-03-2011 in S2SDDTransactionRejectReason3Code - EPC RuleBook Change 10/017 - CR 3363-->
<!-- BE04 reason code changed into BE05 on 01-06-2011 in S2SDDTransactionRejectReason3Code - EPC 167-11 RuleBook Errata - CR 3406-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="S2SDDAccountIdentification3Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBANIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDAmendmentInformationDetails1">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="S2SDDId8" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="S2SDDCdtrSchmeId1" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="S2SDDCashAccount7" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="S2SDDOrgnlDbtrAgt" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDOrgnlDbtrAgt">
		<xs:sequence>
			<!-- BIC option removed on 08-03-07-->
			<xs:element name="FinInstnId" type="S2SDDOrgnlDbtrAgt1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDBranchAndFinancialInstitutionIdentification3">
		<xs:sequence>
			<xs:element name="FinInstnId" type="S2SDDFinancialInstitutionIdentification5Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDCashAccount7">
		<xs:sequence>
			<xs:element name="Id" type="S2SDDAccountIdentification3Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2SDDCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
			<!--xs:pattern added on 29-11-07-->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="S2SDDCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="S2SDDCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="S2SDDCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDGroupHeader5">
		<xs:sequence>
			<xs:element name="MsgId" type="S2SDDId7"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="InstgAgt" type="S2SDDBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
			<xs:element name="InstdAgt" type="S2SDDBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDLocalInstrument1Choice">
		<xs:sequence>
			<!-- 20100222 - Changed Local Instrument Type -->
			<!-- 20100222 - Removed collapse white spaces -->
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDMandateRelatedInformation1">
		<xs:sequence>
			<xs:element name="MndtId" type="S2SDDId8"/>
			<!--DtOfSgntr made mandatory on 08-03-07-->
			<xs:element name="DtOfSgntr" type="ISODate"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="S2SDDAmendmentInformationDetails1" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDOriginalGroupInformation1">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="S2SDDId7"/>
			<xs:element name="OrgnlMsgNmId" type="S2SDDOrgnlMsgNmId"/>
			<xs:element name="GrpSts" type="S2SDDTransactionGroupStatus1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDOrgnlMsgNmId">
		<xs:restriction base="xs:string">
			<xs:pattern value="pacs\.003[A-Za-z0-9\.]{0,27}"/>
			<xs:pattern value="PACS\.003[A-Za-z0-9\.]{0,27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDOriginalTransactionReference1">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt" type="S2SDDCurrencyAndAmount"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate"/>
			<xs:element name="ReqdColltnDt" type="ISODate"/>
			<xs:element name="CdtrSchmeId" type="S2SDDCdtrSchmeId"/>
			<xs:element name="SttlmInf" type="S2SDDSettlementInformation3" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="S2SDDPaymentTypeInformation6"/>
			<xs:element name="MndtRltdInf" type="S2SDDMandateRelatedInformation1"/>
			<xs:element name="RmtInf" type="S2SDDRemittanceInformation1" minOccurs="0"/>
			<!-- On 15-10-08 UltmtDbtr is now S2SDDPartyIdentification10  -->
			<xs:element name="UltmtDbtr" type="S2SDDPartyIdentification10" minOccurs="0"/>
			<xs:element name="Dbtr" type="S2SDDPartyIdentification9"/>
			<xs:element name="DbtrAcct" type="S2SDDCashAccount7"/>
			<xs:element name="DbtrAgt" type="S2SDDBranchAndFinancialInstitutionIdentification3"/>
			<xs:element name="CdtrAgt" type="S2SDDBranchAndFinancialInstitutionIdentification3"/>
			<xs:element name="Cdtr" type="S2SDDId2"/>
			<xs:element name="CdtrAcct" type="S2SDDCashAccount7"/>
			<!-- On 15-10-08 UltmtCdtr is now S2SDDPartyIdentification10  -->
			<xs:element name="UltmtCdtr" type="S2SDDPartyIdentification10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDSettlementInformation3">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="S2SDDSettlementMethod1Code"/>
			<xs:element name="ClrSys" type="S2SDDClearingSystemIdentification1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDClearingSystemIdentification1Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPartyIdentification9">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="S2SDDPostalAddress1" minOccurs="0"/>
			<xs:element name="Id" type="S2SDDParty4Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPartyIdentification10">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="S2SDDPostalAddress1" minOccurs="0"/>
			<xs:element name="Id" type="S2SDDParty4Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPaymentTransactionInformation1">
		<xs:sequence>
			<xs:element name="StsId" type="S2SDDId7"/>
			<!--OrgnlInstrId & OrgnlEndToEndId are now Max35Text (UTF-8) on 08-03-07-->
			<!--OrgnlInstrId is now S2SDDId7 on 05-06-07-->
			<xs:element name="OrgnlInstrId" type="S2SDDId7" minOccurs="0"/>
			<xs:element name="OrgnlEndToEndId" type="Max35Text"/>
			<xs:element name="OrgnlTxId" type="S2SDDId7"/>
			<xs:element name="TxSts" type="S2SDDTransactionIndividualStatus1Code"/>
			<xs:element name="StsRsnInf" type="S2SDDStatusReasonInformation1"/>
			<!-- new Charges information 2010-01-27 -->
			<xs:element name="ChrgsInf" type="S2SDDChargesInformation1" minOccurs="0"/>
			<xs:element name="InstgAgt" type="S2SDDBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
			<xs:element name="OrgnlTxRef" type="S2SDDOriginalTransactionReference1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- new Charges information 2010-01-27 -->
	<xs:complexType name="S2SDDChargesInformation1">
		<xs:sequence>
			<xs:element name="Amt" type="S2SDDCurrencyAndAmount"/>
			<xs:element name="Pty" type="S2SDDBranchAndFinancialInstitutionIdentification3"/>
		</xs:sequence>
	</xs:complexType>
	<!-- end Charges information 2010-01-27 -->
	<xs:complexType name="S2SDDPaymentTypeInformation6">
		<xs:sequence>
			<!-- 15-10-2008 LclInstrm is now mandatory and added CtgyPurp-->
			<xs:element name="SvcLvl" type="S2SDDServiceLevel2Choice"/>
			<xs:element name="LclInstrm" type="S2SDDLocalInstrument1Choice"/>
			<xs:element name="SeqTp" type="S2SDDSequenceType1Code"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPostalAddress1">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDRemittanceInformation1">
		<xs:sequence>
			<xs:choice>
				<!-- on 15-10-08 increased the number of occurrences of the Unstr field up to 10 -->
				<xs:element name="Ustrd" type="Max140Text" maxOccurs="10"/>
				<!-- on 15-10-08 increased the number of occurrences of the Unstr field up to 10 -->
				<xs:element name="Strd" type="S2SDDStructuredRemittanceInformation6" maxOccurs="10"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDSequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2SDDServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
			<!--added NURG, March 17th 2014 -->
			<xs:enumeration value="NURG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDServiceLevel2Choice">
		<xs:sequence>
			<xs:element name="Cd" type="S2SDDServiceLevel1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDSettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDStatusReason1Choice">
		<xs:sequence>
			<xs:choice>
				<!--Cd is now S2SDDTransactionRejectReason3Code on 05-06-07-->
				<xs:element name="Cd" type="S2SDDTransactionRejectReason3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- new Return Reason Information 2010-01-27 -->
	<xs:complexType name="S2SDDStatusReasonInformation1">
		<xs:sequence>
			<xs:element name="Orgtr" type="S2SDDId5"/>
			<xs:element name="Rsn" type="S2SDDStatusReason1Choice"/>
		</xs:sequence>
	</xs:complexType>
	<!-- 20100302 - BICorBei changed in BICOrBEI -->
	<xs:complexType name="S2SDDOrganisationIdentification2">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<!-- new Structured Remittance Information 2010-01-27 -->
	<xs:complexType name="S2SDDStructuredRemittanceInformation6">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="S2SDDReferredDocumentInformation3" minOccurs="0"/>
			<xs:element name="RfrdDocAmt" type="S2SDDReferredDocumentAmount1Choice" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="S2SDDCreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="S2SDDPartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="S2SDDPartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="S2SDDReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="S2SDDReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="S2SDDDocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDDocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDReferredDocumentAmount1Choice">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="S2SDDCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="S2SDDCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="S2SDDCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="S2SDDCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="S2SDDDocumentAdjustment1" minOccurs="0"/>
			<xs:element name="RmtdAmt" type="S2SDDCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDDocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="S2SDDCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="S2SDDCreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDCreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDCreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="S2SDDCreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDCreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="S2SDDCreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDCreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="S2SDDDocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDDocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDPartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="S2SDDPostalAddress1" minOccurs="0"/>
			<xs:element name="Id" type="S2SDDParty6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="S2SDDContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDParty6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="S2SDDOrganisationIdentification4"/>
				<xs:element name="PrvtId" type="S2SDDPersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="S2SDDNamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="S2SDDPhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="S2SDDPhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="S2SDDPhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDNamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2SDDPhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2SDDTransactionGroupStatus1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PART"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2SDDTransactionIndividualStatus1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCT"/>
		</xs:restriction>
	</xs:simpleType>
	<!--CNOR and DNOR reason code added on 2013-07-15 in S2SDDTransactionRejectReason3Code-->
	<!--AC13 and FF05 reason code added on 2012-03-23 in S2SDDTransactionRejectReason3Code-->
	<!--MS02 reason code added on 15-10-2008 in S2SDDTransactionRejectReason3Code-->
	<!-- new values RR01, RR02, RR03, RR04, SL01 on 2009-12-28 -->
	<!-- new MD03 become FF01 on 2010-01-27 -->
	<!-- BE04 reason code added on 25-03-2011 in S2SDDTransactionRejectReason3Code - EPC RuleBook Change 10/017 - CR 3363- -->
	<!-- BE04 reason code changed into BE05 on 01-06-2011 in S2SDDTransactionRejectReason3Code - EPC 167-11 RuleBook Errata - CR 3406-->
	<xs:simpleType name="S2SDDTransactionRejectReason3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC04"/>
			<xs:enumeration value="AC06"/>
			<xs:enumeration value="AC13"/>
			<xs:enumeration value="AG01"/>
			<xs:enumeration value="AG02"/>
			<xs:enumeration value="AM04"/>
			<xs:enumeration value="AM05"/>
			<xs:enumeration value="CNOR"/>
			<xs:enumeration value="DNOR"/>
			<xs:enumeration value="FF01"/>
			<xs:enumeration value="FF05"/>
			<xs:enumeration value="MD01"/>
			<xs:enumeration value="MD02"/>
			<xs:enumeration value="MD07"/>
			<xs:enumeration value="MS02"/>
			<xs:enumeration value="MS03"/>
			<xs:enumeration value="RC01"/>
			<xs:enumeration value="RR01"/>
			<xs:enumeration value="RR02"/>
			<xs:enumeration value="RR03"/>
			<xs:enumeration value="RR04"/>
			<xs:enumeration value="SL01"/>
			<xs:enumeration value="BE05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="FIToFIPaymentStatusReportV03">
		<xs:sequence>
			<xs:element name="GrpHdr" type="S2SDDGroupHeader5"/>
			<xs:element name="OrgnlGrpInfAndSts" type="S2SDDOriginalGroupInformation1"/>
			<!-- TxInf is mandatory on 15-10-08 -->
			<xs:element name="TxInfAndSts" type="S2SDDPaymentTransactionInformation1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Spaces allowed in Creditor Identifier field, 2012-03-23 -->
	<xs:complexType name="S2SDDCdtrSchmeId">
		<xs:sequence>
			<xs:element name="Id" type="S2SDDPrivateIdentification2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPrivateIdentification">
		<xs:sequence>
			<xs:element name="PrvtId" type="S2SDDPrty1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- STEP2 SDD Schema, new struct Othr, 2010-01-27 -->
	<xs:complexType name="S2SDDPrty1">
		<xs:sequence>
			<xs:element name="Othr" type="S2SDDId4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDId4">
		<xs:sequence>
			<!-- STEP2 Spaces allowed in Original Creditor Identifier field, May 25th 2012 -->
			<xs:element name="Id" type="S2SDDId8"/>
			<!--IdTp modified to SEPA content only on 08-03-07-->
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialIdentificationSchemeName2">
		<xs:sequence>
			<xs:element name="Prtry" type="S2SDDId9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDId9">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDId2">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="S2SDDPostalAddress1" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDFinancialInstitutionIdentification5Choice">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<!-- new Original Debtor Agent 2010-01-27 -->
	<xs:complexType name="S2SDDOrgnlDbtrAgt1">
		<xs:sequence>
			<!-- For ISO compatibility, March 04th 2010  -->
			<xs:element name="Othr" type="S2SDDOrgnlDbtrAgtOther2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- insert for ISO compatibility, March 04th 2010  -->
	<xs:complexType name="S2SDDOrgnlDbtrAgtOther2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDId5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Nm" type="Max70Text"/>
				<xs:element name="Id" type="S2SDDParty3Choice"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDParty3Choice">
		<xs:sequence>
			<xs:element name="OrgId" type="S2SDDOrganisationIdentification2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDId7">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/>
			<!--TxId and MsgId extended to support full character "+" on 05-06-07-->
			<!--TxId and MsgId extended to support full Latin character set on 08-03-07-->
			<!--xs:pattern value="([A-Za-z0-9]|[\?|/|\-|:|\(|\)|\.|,|']){1,35}"/-->
		</xs:restriction>
	</xs:simpleType>
	<!-- 20100302 - sub-fields of OrgId and PrvtId are set to mandatory in order to avoid empty tags -->
	<xs:complexType name="S2SDDParty4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="S2SDDOrganisationIdentification4"/>
				<xs:element name="PrvtId" type="S2SDDPersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- new OrgtId on 2010-01-27 -->
	<xs:complexType name="S2SDDOrganisationIdentification4">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BICOrBEI" type="S2SDDAnyBICIdentifier"/>
				<xs:element name="Othr" type="S2SDDGenericOrganisationIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDAnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDGenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="S2SDDOrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDOrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="S2SDDExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- new PrvtId on 2010-01-27 -->
	<xs:complexType name="S2SDDPersonIdentification5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
				<xs:element name="Othr" type="S2SDDGenericPersonIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDGenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="S2SDDPersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S2SDDPersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="S2SDDExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="S2SDDExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="S2SDDCdtrSchmeId1">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="S2SDDPrivateIdentification" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Added new type S2SDDId8 on 15-10-08-->
	<xs:simpleType name="S2SDDId8">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|'|\s]){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Added new type S2SDDPrivateIdentification2 on 2012-03-23-->
	<xs:complexType name="S2SDDPrivateIdentification2">
		<xs:sequence>
			<xs:element name="PrvtId" type="S2SDDPrty2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- STEP2 SDD Schema, new struct OthrId, 2012-03-23 -->
	<xs:complexType name="S2SDDPrty2">
		<xs:sequence>
			<xs:element name="Othr" type="S2SDDId10"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Added new type S2SDDId10 on 2012-03-23-->
	<xs:complexType name="S2SDDId10">
		<xs:sequence>
			<xs:element name="Id" type="S2SDDId8"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName2"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
